<% if user_signed_in? %>
  <div class="mb-4">
    <%= link_to edit_blog_post_path(@blog_post), class: "bg-gray-200 text-gray-800 hover:text-gray-600 hover:bg-gray-300 px-4 py-2 rounded-full", remote: true do %>
      Edit
    <% end %>
  </div>
<% end %>

<h1><%= @blog_post.title %></h1>
<%= @blog_post.content %>
<%= image_tag @blog_post.cover_image, style: "max-width: 300px; max-height: 300px;" if @blog_post.cover_image.present? %>


  <%= button_to like_blog_post_path(@blog_post), method: :post, form_class: 'inline', remote: true do %>
    <i class="fa fa-thumbs-up"></i>
    <% if @blog_post.likes.exists?(user: current_user) %>
      <%= content_tag :span, "Unlike", class: "unlike-button" %>
    <% else %>
      Like
    <% end %>
  <% end %>