<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="prose mx-auto">
  <nav class="bg-white p-4 text-gray-800 shadow-md">
    <ul class="flex justify-between items-center list-none">
      <li>
        <a href="/" class="bg-gray-600 text-white hover:bg-gray-700 px-4 py-2 rounded-full">Home</a>
      </li>
      <li>
        <a href="<%= new_blog_post_path %>" class="bg-gray-600 text-white hover:bg-gray-700 px-4 py-2 rounded-full">New Blog Post</a>
      </li>
      <li>
        <a href="<%= new_user_session_path %>" class="bg-gray-600 text-white hover-bg-gray-700 px-4 py-2 rounded-full">Sign In</a>
      </li>
      <li>
        <a href="<%= new_user_registration_path %>" class="bg-gray-600 text-white hover:bg-gray-700 px-4 py-2 rounded-full">Sign Up</a>
      </li>
      <li>
        <% if user_signed_in? %>
          <%= button_to "Log Out", destroy_user_session_path, method: :delete, form: { class: "bg-gray-600 text-white hover:bg-gray-700 px-4 py-2 rounded-full" } %>
        <% end %>
      </li>
    </ul>
  </nav>

  <div class="flex justify-between p-4 items-center">
    <h1 class="text-4xl font-bold text-center text-gray-800"></h1>
    <div>
      <% if user_signed_in? %>
        <!-- Log Out button moved to the navigation bar -->
      <% else %>
        <!-- Sign In/Up links moved to the navigation bar -->
      <% end %>
    </div>
  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
</body>
</html>
