<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "https://unpkg.com/trix@2.0.0/dist/trix.css", "data-turbo-track": "reload" %>
  
  <%= render "shared/fonts" %>
    <%= render "shared/meta" %>
    <%= yield :head %>
</head>

<body class="prose mx-auto">
  <nav class="bg-gray-400 p-5 shadow-md">
    <div class="flex justify-between items-center">
        <a href="/" class="text-3xl font-bold text-white">TFP Blogs</a>
        <div class="flex space-x-4">
        <a href="/" class="text-gray-800 hover:text-gray-600 bg-gray-200 hover:bg-gray-300 rounded-full px-4 py-2">Home</a>
        <a href="<%= new_blog_post_path %>" class="text-gray-800 hover:text-gray-600 bg-gray-200 hover:bg-gray-300 rounded-full px-4 py-2">New Blog Post</a>
        <% if user_signed_in? %>
          <%= button_to "Log Out", destroy_user_session_path, method: :delete, form: { class: "text-gray-800 hover:text-gray-600 bg-gray-200 hover:bg-gray-300 rounded-full px-4 py-2" } %>
        <% else %>
          <a href="<%= new_user_session_path %>" class="text-gray-800 hover:text-gray-600 bg-gray-200 hover:bg-gray-300 rounded-full px-4 py-2">Sign In</a>
          <a href="<%= new_user_registration_path %>" class="text-gray-800 hover:text-gray-600 bg-gray-200 hover:bg-gray-300 rounded-full px-4 py-2">Sign Up</a>
        <% end %>
      </div>
    </div>
  </nav>

   <div class="text-sm text-gray-500 p-4 text-right">
    <% if user_signed_in? %>
      <%= "#{current_user.email} is currently signed in." %>
    <% end %>
  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

<%= railsui_launcher if Rails.env.development? %>
</body>
</html>
